.work {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio, .clients, .team__container, .advantage, .header__block {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.subscription__link, .modal__button, .hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 32px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.modal__button, .reg-form__checkbox, .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}

.info__logo, .header__logo-img {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  padding: 0;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .header__block {
    position: relative;
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__block {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__block {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header__logo.is-visible {
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 25px 0;
  }
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0px;
  background-color: transparent;
}
.header__button .header__icon-close {
  display: none;
}
.header__button.is-open .header__icon-close {
  display: block;
}
.header__button.is-open .header__icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__logo-img-color {
  color: #2196F3;
}

.header__logo-img {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding-bottom: 280px;
    background-color: #ffffff;
    z-index: 5;
  }
  .site-nav.is-open {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    margin-left: 40px;
  }
  .site-nav__item li:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__item li:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav__item {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__link {
  color: #212121;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__list {
  position: relative;
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-top: 302px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 315px;
  }
}

.contacts__item {
  font-size: 14px;
  font-style: 500;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16px;
  }
  .contacts__item .contacts__text--size {
    font-size: 34px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:hover, .contacts__item:focus {
    color: #2196F3;
    fill: #2196F3;
  }
  .contacts__item:hover .contacts__text, .contacts__item:focus .contacts__text {
    color: #2196F3;
    fill: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__img-mail {
  width: 16px;
  height: 12px;
}
@media screen and (max-width: 767px) {
  .contacts__img-mail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__img-mail {
    width: 16px;
    height: 12px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__img-mail {
    margin-left: 30px;
  }
}

.contacts__img-phone {
  width: 10px;
  height: 16px;
}
@media screen and (max-width: 767px) {
  .contacts__img-phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__img-phone {
    margin-right: 8px;
  }
}

.contacts__text {
  font-size: 14px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__network {
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .contacts__network {
    display: none;
  }
}

.contacts__networks-link {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
.contacts__networks-link:last-child {
  padding-right: 0;
}
.contacts__networks-link:first-child {
  padding-left: 0;
}

.contacts__network-logo {
  color: #2196F3;
}
.contacts__network-logo:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #757575;
}
@media screen and (min-width: 768px) {
  .contacts__network-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link--page::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav__link--page::after {
    bottom: -141%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .site-nav__link--page::after {
    bottom: -174%;
  }
}
.hero {
  color: #ffffff;
  text-align: center;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-bg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
    height: 400px;
    width: 480px;
  }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-bg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-hero-tablet.jpg);
    height: 400px;
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-hero-desktop.jpg);
    height: 600px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-hero-desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    padding-top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
    width: 696px;
  }
}

.hero__button {
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__closer-button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 0px;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__closer-img {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__closer-button:hover .modal__closer-img, .modal__closer-button:focus .modal__closer-img {
  fill: #2196F3;
}

.modal__title-action {
  display: block;
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reg-form:first-of-type {
  margin-top: 2px;
}

.reg-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.reg-form__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  left: 52px;
  bottom: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reg-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  padding-left: 42px;
}
.reg-form__input:focus {
  outline: 0;
  border-color: #2196F3;
}
.reg-form__input:focus + .reg-form__icon {
  fill: #2196F3;
}

.reg-form__input--size {
  height: auto;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  resize: none;
}
.reg-form__input--size::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.reg-form__input--size::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.reg-form__input--size:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.reg-form__input--size::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.reg-form__input--size::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}

.reg-form__text {
  margin-top: 10px;
  margin-bottom: 4px;
}

.reg-form__checkbox {
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .reg-form__checkbox {
    margin-left: 40px;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .reg-form__checkbox {
    margin-left: 52px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.reg-form__checkbox-input:checked + .reg-form__checkbox-icon {
  background-image: url(../img/svg/icon-check.svg);
  background-size: contain;
  border: 1px solid #2196F3;
  border-radius: 2px;
  background-color: #2196F3;
}

.reg-form__checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.reg-form__contract {
  margin-left: 4px;
  color: #2196F3;
  text-decoration: underline;
}

.modal__button {
  margin-top: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .advantage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 480px;
  }
}
@media screen and (max-width: 1199px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    width: 1200px;
    padding-top: 60px;
  }
}

.advantage__title {
  position: absolute;
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  z-index: -1;
  color: #ffffff;
}

.principles {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .principles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .principles__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .principles__item {
    width: 354px;
  }
  .principles__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .principles__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .principles__item {
    width: 270px;
  }
  .principles__item:not(:last-child) {
    margin-right: 30px;
  }
}

.principles__pic {
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .principles__pic {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .principles__pic {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .principles__pic {
    width: 270px;
  }
}

.principles__img {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 767px) {
  .principles__img {
    margin: 25px 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .principles__img {
    margin: 25px 144px;
  }
}
@media screen and (min-width: 1200px) {
  .principles__img {
    margin: 25px 102px;
  }
}

.principles__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (max-width: 767px) {
  .principles__title {
    text-align: center;
  }
}

.principles__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

.work {
  padding-top: 118px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__title {
  margin-bottom: 50px;
}

.work__wrapper {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .team {
    min-width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .team__container {
    width: 480px;
  }
}
@media screen and (max-width: 1199px) {
  .team__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .peoples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.peoples__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  text-align: center;
}

.peoples__text {
  margin-bottom: 16px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.peoples__list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  padding-bottom: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .peoples__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peoples__list {
    width: 354px;
  }
  .peoples__list:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .peoples__list {
    width: 270px;
  }
  .peoples__list:not(:last-child) {
    margin-right: 30px;
  }
}

.peoples__img {
  width: 100%;
}

.peoples__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peoples__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.peoples__links:last-child {
  margin-right: 0;
}
.peoples__links:focus, .peoples__links:hover {
  background-color: #2196F3;
  fill: #ffffff;
}

.peoples__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .clients {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    width: 768px;
  }
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .clients__logo {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: 170px;
  }
}

.clients__img {
  width: 106px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  fill: #AFB1B8;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
}

.footer__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .info {
    text-align: center;
  }
}

.info__logo {
  color: #ffffff;
}

.info__logo--footer {
  padding-bottom: 0;
}

.info__logo-inverse {
  color: #2196F3;
}

.info__address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.info__links {
  margin: 0;
  padding-left: 0;
  margin-top: 9px;
  margin-bottom: 60px;
}

.info__contacts--margin {
  margin-bottom: 8px;
}

.info__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__contacts:hover .info__contacts-link, .info__contacts:focus .info__contacts-link {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .social-networks {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-networks {
    text-align: center;
  }
}

.social-networks__text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .social-networks__text {
    display: block;
    text-align: center;
  }
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__logo:hover, .social-networks__logo:focus {
  background-color: #2196F3;
}
.social-networks__logo:last-child {
  margin-right: 0;
}

.social-networks__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}

.subscription__action {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .subscription__action {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  height: 50px;
  color: #ffffff;
  background-color: #2F303A;
  outline: none;
}

.subscription__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .subscription__link {
    margin: 20px 0px 20px 12px;
  }
}

.subscription__img {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.portfolio {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .portfolio {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__title {
  position: absolute;
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .buttons__style:not(:last-child) {
    margin-right: 8px;
  }
}

.button__filter {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button__filter:focus, .button__filter:hover {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .button__filter {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .button__filter--margin {
    margin-right: 20px;
  }
}

.button__filter--all {
  padding: 6px 25px;
}

.portfolio__sites {
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .portfolio__sites {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__sites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__list {
  border: 1px solid #EEEEEE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    width: 370px;
  }
}
.portfolio__list:focus, .portfolio__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__list a {
  pointer-events: none;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-top: 20px;
}

.portfolio__img {
  width: 100%;
}

.portfolio__text {
  margin-left: 24px;
  margin-top: 4px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio__info {
  position: relative;
  overflow: hidden;
}

.portfolio__descr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list:hover .portfolio__descr {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */