ul {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
h2,
h3 {
    color: $color-title;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
input {
    padding: 0;
}